<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description>Controla el login</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controladores.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>inicio</servlet-name>
    <jsp-file>/inicio.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>error</servlet-name>
    <jsp-file>/error.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>crearcapacitacion</servlet-name>
    <jsp-file>/crearcapacitacion.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>crearusuario</servlet-name>
    <jsp-file>/crearusuario.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>contacto</servlet-name>
    <jsp-file>/contacto.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>listarcapacitaciones</servlet-name>
    <jsp-file>/listarcapacitaciones.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>listarusuarios</servlet-name>
    <jsp-file>/listarusuarios.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>listarXtipo</servlet-name>
    <jsp-file>/listarXtipo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>inicio</servlet-name>
    <url-pattern>/inicio.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>error</servlet-name>
    <url-pattern>/error.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>contacto</servlet-name>
    <url-pattern>/contacto.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>crearcapacitacion</servlet-name>
    <url-pattern>/crearcapacitacion.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>crearusuario</servlet-name>
    <url-pattern>/crearusuario.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarcapacitaciones</servlet-name>
    <url-pattern>/listarcapacitaciones.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarusuarios</servlet-name>
    <url-pattern>/listarusuarios.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarXtipo</servlet-name>
    <url-pattern>/listarXtipo.jsp</url-pattern>
  </servlet-mapping>
  <display-name>SprintJavaM5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorPage404.jsp</location>
  </error-page>
  <servlet>
    <description>desloguea</description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controladores.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Lista Capacitaciones Existentes</description>
    <display-name>ListarCapacitaciones</display-name>
    <servlet-name>ListarCapacitaciones</servlet-name>
    <servlet-class>controladores.ListarCapacitaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCapacitaciones</servlet-name>
    <url-pattern>/ListarCapacitaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Hace Submit de la Capacitacion</description>
    <display-name>EnviarCapacitacion</display-name>
    <servlet-name>EnviarCapacitacion</servlet-name>
    <servlet-class>controladores.EnviarCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnviarCapacitacion</servlet-name>
    <url-pattern>/EnviarCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearUsuario</display-name>
    <servlet-name>CrearUsuario</servlet-name>
    <servlet-class>controladores.CrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuario</servlet-name>
    <url-pattern>/CrearUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarUsuarios</display-name>
    <servlet-name>ListarUsuarios</servlet-name>
    <servlet-class>controladores.ListarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuarios</servlet-name>
    <url-pattern>/ListarUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearContacto</display-name>
    <servlet-name>CrearContacto</servlet-name>
    <servlet-class>controladores.CrearContacto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearContacto</servlet-name>
    <url-pattern>/CrearContacto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarClientes</display-name>
    <servlet-name>ListarClientes</servlet-name>
    <servlet-class>controladores.ListarClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarClientes</servlet-name>
    <url-pattern>/ListarClientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarAdministrativos</display-name>
    <servlet-name>ListarAdministrativos</servlet-name>
    <servlet-class>controladores.ListarAdministrativos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarAdministrativos</servlet-name>
    <url-pattern>/ListarAdministrativos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarProfesionales</display-name>
    <servlet-name>ListarProfesionales</servlet-name>
    <servlet-class>controladores.ListarProfesionales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProfesionales</servlet-name>
    <url-pattern>/ListarProfesionales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Trae Formulario</description>
    <display-name>CrearCapacitacion</display-name>
    <servlet-name>CrearCapacitacion</servlet-name>
    <servlet-class>controladores.CrearCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCapacitacion</servlet-name>
    <url-pattern>/CrearCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>se lleva la lista de Id existentes</description>
    <display-name>PCrearUsuario</display-name>
    <servlet-name>PCrearUsuario</servlet-name>
    <servlet-class>controladores.PCrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PCrearUsuario</servlet-name>
    <url-pattern>/PCrearUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PUpdCliente</display-name>
    <servlet-name>PUpdCliente</servlet-name>
    <servlet-class>controladores.PUpdCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PUpdCliente</servlet-name>
    <url-pattern>/PUpdCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarCliente</display-name>
    <servlet-name>EditarCliente</servlet-name>
    <servlet-class>controladores.EditarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarCliente</servlet-name>
    <url-pattern>/EditarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PUddProfesionales</display-name>
    <servlet-name>PUddProfesionales</servlet-name>
    <servlet-class>controladores.PUddProfesionales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PUddProfesionales</servlet-name>
    <url-pattern>/PUddProfesionales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarProfesional</display-name>
    <servlet-name>EditarProfesional</servlet-name>
    <servlet-class>controladores.EditarProfesional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarProfesional</servlet-name>
    <url-pattern>/EditarProfesional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PUpdAdministrativo</display-name>
    <servlet-name>PUpdAdministrativo</servlet-name>
    <servlet-class>controladores.PUpdAdministrativo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PUpdAdministrativo</servlet-name>
    <url-pattern>/PUpdAdministrativo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarAdministrativo</display-name>
    <servlet-name>EditarAdministrativo</servlet-name>
    <servlet-class>controladores.EditarAdministrativo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarAdministrativo</servlet-name>
    <url-pattern>/EditarAdministrativo</url-pattern>
  </servlet-mapping>
</web-app>